{% extends 'UciAdministradorBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/footable-demos.css')}}" type="text/css" media="all" /> 
{% endblock %} 
{% block barra %}{% endblock %}
{% block header %}
{% endblock %}

{% block body %}
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <header class="page-header">
                <h1 class="page-title"></h1>
            </header>
            <form action="{{ path('uci_administrador_agregarCapituloLibro', { 'id': id }) }}" id="formularioCuestionario" method="POST" enctype="multipart/form-data">

                <h3>Agregar Capítulos</h3><br>
                <!-- /Tabla capitulos -->

                <table class="table demo table-bordered" id="tablaCapitulos" data-filter="#filter" >
                    <thead>
                        <tr>
                            <th data-hide="phone"> </th> 
                            <th data-hide="phone">
                                Numero 
                            </th>
                            <th data-hide="phone">
                                Nombre
                            </th>
                            <th data-sort-ignore="true" data-hide="phone" data-name="Acciones"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for capitulo in capitulos %}
                            <tr>
                                <td style="border-right:0;" class="primera-columna">{{ capitulo.numeroCapitulo|striptags }} </td>
                                 <td style="border-right:0;" class="primera-columna">{{ capitulo.nombreCapitulo|striptags }} </td>
                                 <td><a href="{{ path('uci_administrador_removerPreguntaCuestionario', { 'idPregunta': capitulo.id, 'idCuestionario': id }) }}" class="speedbump"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="capitulo_link">Añadir capítulo</a>
                <!-- /Acaba el contenido de capitulo--> 


                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-3 text-right">
                        <button class="btn" type="button" onclick="closeWindows();">Cerrar</button>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3 text-right">
                        <button id="pruebaultima" class="btn btn-action" onclick="obtenerArreglo();" type="button">Registrar</button>
                    </div>
                </div>

            </form>
        </div>
        <br><br>
    </div>	<!-- /container -->

{% endblock %}

{% block piepagina %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function obtenerArreglo() {
            var values = $('input:checkbox:checked').map(function () {
                return this.value;
            }).get();
            if (values.length > 0) {
                $.ajax({
                    url: $("#formularioCuestionario").attr('action'),
                    type: "POST",
                    data: {ids: values},
                    success: function (data) {
                        if (data.resultado == 1) {
                            window.opener.location.reload(false);
                            window.location.href = "{{ path('uci_administrador_ver_cuestionario', { 'id': id }) }}";
                            closeWindows();
                        } else {
                            alert('Ocurrio un error');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Ocurrio un error');
                    }
                });
            }
        }



        function closeWindows() {
            var browserName = navigator.appName;
            if (browserName == "Microsoft Internet Explorer") {
                var ie7 = (document.all && !window.opera && window.XMLHttpRequest) ? true : false;
                if (ie7)
                {
                    window.open('', '_parent', '');
                    window.close();
                }
                else
                {
                    this.focus();
                    self.opener = this;
                    self.close();
                }
            } else {
                try {
                    this.focus();
                    self.opener = this;
                    self.close();
                }
                catch (e) {

                }
                try {
                    window.open('', '_self', '');
                    window.close();
                }
                catch (e) {

                }
            }
        }

        function addCapitulo() {
            var collectionHolder = $('#tablaCapitulos');
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/__name__/g, collectionHolder.children().length); //importante
            var removeFormA = $('<td href="#" onclick="addTagFormDeleteLink(event, this); "><span class="navigationSpace glyphicon glyphicon-remove" style="color: red; font-size:180%" ></span></td>');
            var newTr = $('<tr></tr>');
            newTr.append(form);
            newTr.append(removeFormA);
            collectionHolder.append(newTr);
            return prototype;
        }

        function addTagFormDeleteLink(e, elemento) {
            e.preventDefault();
            var removeFormA = elemento.parentNode;
            removeFormA.remove();
        }

        $('#capitulo_link').on('click', function (e) {
            e.preventDefault();
            addCapitulo();

        });


    </script>
{% endblock %}
















