{% block body %}
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">{{ form_widget(form.libro) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-6">{{ form_widget(form.numeroPaginaDe) }}</div>   
            <div class="col-sm-6">{{ form_widget(form.numeroPaginaHasta) }}</div>  
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.capitulo) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.areaConocimiento) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.grupoProcesos) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.trianguloTalento) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.tipoPrueba) }}</div>   
        </div>
        <div class="row top-margin">
            <div class="col-sm-12">{{ form_widget(form.tipoRespuesta) }}</div>   
        </div>
    </div>
    <div class="col-sm-2">{{ form_widget(form.cantidadC) }}</div>
    <div class="col-sm-2">{{ form_widget(form.porcentajeC) }}</div>
{% endblock %}
