{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Idiomas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigolenguaje</th>
                <td>{{ entity.codigoLenguaje }}</td>
            </tr>
            <tr>
                <th>Nombrelenguaje</th>
                <td>{{ entity.nombreLenguaje }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('idiomas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('idiomas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
