{% extends 'UciSeguridadBundle::base.html.twig' %}

{% block header %}
    <header id="head" class="secondary"></header>
    {% endblock %}

{% block body %}
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('login') }}">Inicio</a></li>
            <li class="active">Identificarse</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Identificarse</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Ingrese a su cuenta</h3>
                            <p class="text-center text-muted">Si no tiene cuenta solicite una a <a href="mailto:webmaster@uci.ac.cr">webmaster@uci.ac.cr</a>. </p>
                            <hr>

                            {% if error %}
                                <div style="color:red">{{ error.message | replace({"Bad credentials." : "Usuario o clave incorrecta."}) }}</div>
                            {% endif %}

                            <form action="{{ path('login_check') }}" method="POST">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                       >
                                <div class="top-margin">
                                    <label>Usuario <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="Usuario" name="_username" value="{{ last_username }}">
                                           </div>
                                           <div class="top-margin">
                                           <label>Contrase単a <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" placeholder="Contrase単a" name="_password">
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="">多Olvido su contrase単a?</a></b>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>

    </div>	<!-- /container -->



{% endblock %}
