{% extends 'UciAdministradorBundle::base.html.twig' %}

{% block header %}
    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Escuela Global de Administración de Proyectos</h1>
                <p class="tagline">Sistema de generación de cuestionarios para la GSPM</p>
                <p><a href="http://www.uci.ac.cr/" class="btn btn-action btn-lg" role="button">Página UCI</a><a href="http://www.ucipfg.com/" class="btn btn-default btn-lg" role="button">Campus virtual</a> </p>
            </div>
        </div>
    </header>
    <!-- /Header -->
{% endblock %}

{% block body %}

    <!-- Intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">Bienvenido {{ app.user.nombre }} {{ app.user.apellidos }}</h2>
        <p class="text-muted">
            A continuación se le presentan secciones importantes que le pueden interesar.
        </p>
    </div>
    <!-- /Intro-->

    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-book fa-5"></i><a href="{{ path('uci_administrador_indicelibro') }}">Mantenimiento de Libros</a></h4></div>
                    <div class="h-body text-center">
                        <p>Desde aquí puede gestionar todos los datos de los libros.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-users fa-5"></i><a href="{{ path('uci_administrador_indiceuser') }}">Mantenimiento de Usuarios</a></h4></div>
                    <div class="h-body text-center">
                        <p>Desde aquí puede gestionar todos los datos de los usuarios que acceden a la aplicación.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-question fa-5"></i><a href="{{ path('uci_administrador_indicepreguntas') }}">Mantenimiento de Preguntas</a></h4></div>
                    <div class="h-body text-center">
                        <p>Desde aquí puede gestionar todos los datos de las preguntas almacenadas en la base de datos.</p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>
    <!-- /Highlights -->



{% endblock %}
